# API Base URLs
VITE_API_URL=http://localhost:8000/
VITE_API_BASE_URL=http://localhost:8000/
VITE_API_URL_BASE=http://localhost:8000/

# MercadoPago
# Reemplazar con tu clave pública de MercadoPago para entorno Sandbox/Producción
VITE_MP_PUBLIC_KEY=TEST-00000000-0000-0000-0000-000000000000

# WebSocket
# URL base para los WebSockets, por ejemplo ws://localhost:8000/
VITE_WS_URL=ws://localhost:8000/
